* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #0e0e0e;
  color: #fff;
  line-height: 1.6;
  overflow-x: hidden;
}

section {
  padding: 100px 10%;
  transition: all 0.5s ease-in-out;
}

h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  padding: 14px 40px;
  background: transparent;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
  border: 2px solid #4c0bff;
  box-shadow: 5px 5px 0px 0px #0e0e0e, 7px 7px 0px 0px #4c0bff;
}

.btn:hover {
  box-shadow: none;
}

/* Hero Section */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.hero-content h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
  animation: fadeIn 2s;
  position: relative;
  /* Required for absolute positioning of the span */
}

.hero-content p {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}


.canvas-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Skills Section */
.skills {
  background: #1a1a1a;
  text-align: center;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
  justify-items: center;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
  border: 1px solid #4c0bffa6;
  min-width: 126px;
}

.skill:hover {
  transform: scale(1.1);
  background: #fff;
  color: #000;
  border: none;
  box-shadow: 5px 5px 0px 0px #1a1a1a, 7px 7px 0px 0px #fff;

}

/* GitHub Stats */
.stats {
  background: #1a1a1a;
  text-align: center;
}

.stats-container img {
  max-width: 100%;
}

/* Contact Section */
.contact {
  border-top: 1px solid #6b6b6b;
  background: #1a1a1a;
  text-align: center;
}

.contact-links a {
  display: inline-block;
  padding: 14px 40px;
  color: #fff;
  margin: 5px;
  background: transparent;
  text-decoration: none;
  transition: 0.3s;
  border: 2px solid #fff;
  box-shadow: 0px 5px 0px 0px #1a1a1a, 0px 7px 0px 0px #fff;
}

.contact-links a:hover {
  background: #fff;
  transform: translateY(-5px);
  border: 1px solid 000;
  color: #000;
  box-shadow: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.about {
  background: #1a1a1a;
  text-align: center;
  padding: 50px 10%;
}

.projects {
  background: #0e0e0e;
  text-align: center;
  padding: 50px 10%;
  width: 100%;
}

.project-container {
  max-width: 100%;
  gap: 25px;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
}

.project-card.hiredevs {
  background: url('assets/hiredevs-banner.png');
    background-repeat: repeat;
    background-size: auto;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 10rem;
}

.project-card.cmc-guides {
  background: url('assets/cmc-guides-banner.png');
    background-repeat: repeat;
    background-size: auto;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 10rem;
}
.project-card.qr-gen {
  background: url('assets/qr-gen-banner.png');
    background-repeat: repeat;
    background-size: auto;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 10rem;
}
.project-card.discord {
  background: url('assets/discord-banner.png');
    background-repeat: repeat;
    background-size: auto;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 10rem;
}

.project-card {
  background: transparent;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
  border: 1px solid #4c0bffa6;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.project-card p {
  font-size: 15px;
  margin-bottom: 1rem;
  text-align: center;
}

.project-card h2 {
  font-size: 2rem;
  margin-bottom: 0;
}

.btn-view {
  display: inline-block;
  padding: 14px 40px;
  background: transparent;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
  border: 2px solid #4c0bff;
  box-shadow: 5px 5px 0px 0px #0e0e0e, 7px 7px 0px 0px #4c0bff;
  margin-top: auto;
}

.btn-view:hover {
  box-shadow: none;
  background: #4c0bff;
  color: #fff;
  transform: translateY(-5px);
  border: 1px solid #4c0bff;
}

.connections {
  background: #0e0e0e;
  text-align: center;
  padding: 50px 10%;
  width: 100%;
}

.connections-container {
  max-width: 100%;
  gap: 25px;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
}

.connections-container a {
  background: transparent;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
  border: 1px solid #4c0bffa6;
  text-decoration: none;
  color: #fff;
  min-width: 178px;
  border-radius: 12px;
  /* box-shadow: 0px 0px 5px 0px #4c0bff; */
}

.connections-container a:hover {
  box-shadow: none;
  background: transparent;
  border-radius: 0;
  color: #fff;
  border: 1px solid #4c0bff;
  /* animation: scaleIn 0.5s ease-in-out; */
  box-shadow: 5px 5px 0px 0px #0e0e0e, 7px 7px 0px 0px #4c0bff;
}

.aka {
  position: absolute;
  top: calc(100% + -35px);
  left: calc(100% + -130px);
  color: #4c0bff;
  font-size: 20px;
}

.pfp {
  position: absolute;
  z-index: -1;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: -90px;
  left: 238px;
}

@keyframes scaleIn {
  0% {
    transform: scale(1) translateY(0);
  }

  50% {
    transform: scale(2) translateY(-10px);
  }

  100% {
    transform: scale(1) translateY(0);
  }
}

@media (max-width: 768px) {

  .hero {
    height: 70vh;
  }

  .hero-content .aka {
    display: none;
  }

  .pfp {
    left: 130px !important;
    width: 150px !important;
    height: 150px !important;
    top: -76px !important;
  }

  .hero-content h1 {
    font-size: 3rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

}

@media (max-width: 410px) {
  .hero {
    height: 46vh !important;
  }

  .pfp {
    display: none !important;
  }

  .project-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
  }

  .connections-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
  }

  h2 {
    font-size: 2rem !important;
  }

  .contact-links {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
}

.slider {
  width: 300px;
  height: 205px;
  position: relative;
  margin: auto;
  padding-top: 5%;
  perspective: 1000px;
}

.slider ul {
  height: 205px;
  position: relative;
  left: -900px;
}

.slider li {
  width: 300px;
  float: left;
  box-sizing: border-box;
  padding: 5px;
  cursor: pointer;
  transition: .6s;
  overflow: hidden;
  border: 1px solid #4c0bff;
  text-align: center;
  border-radius: 12px;
}

.slider li img {
  width: 100%;
  height: auto;
}

.slider li:nth-child(1) {
  width: 300px;
  transition: .6s;
}

.sliderControl {
  width: 500px;
  margin: 20px auto;
  text-align: center;
}

.sliderControl a {
  display: inline-block;
  width: 50px;
  height: 5px;
  background-color: #333;
  margin-right: 10px;
  cursor: pointer;
  transition: .6s;
}

.sliderControl a:nth-child(1) {
  background-color: #4c0bff;
}

.timer {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #222;
  background-color: #222;
  position: relative;
  margin: 0 49%;
  overflow: hidden;
}

.percentage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.percentage0 {
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
}

.percentage1,
.percentage2,
.percentage3,
.percentage4 {
  width: 0;
  height: 0;
  border-radius: 50%;
}

.percentage1 {
  border-right: 10px solid #222;
  border-left: 10px solid #222;
  border-top: 10px solid #4c0bff3a;
  border-bottom: 10px solid #222;
  border-radius: 50%;
  margin-bottom: 3px;
}

.percentage2 {
  border-right: 10px solid #4c0bff4a;
  border-left: 10px solid #222;
  border-top: 10px solid #4c0bff4a;
  border-bottom: 10px solid #222;
  margin-bottom: 3px;
}

.percentage3 {
  border-right: 10px solid #4c0bff6a;
  border-left: 10px solid #222;
  border-top: 10px solid #4c0bff6a;
  border-bottom: 10px solid #4c0bff6a;
  margin-bottom: 3px;
}

.percentage4 {
  border-right: 10px solid #4c0bff8a;
  border-left: 10px solid #4c0bff8a;
  border-top: 10px solid #4c0bff8a;
  border-bottom: 10px solid #4c0bff8a;
  margin-bottom: 3px;
  border-radius: 50%;
}

.gogo {
  animation: tick-tock 5s steps(5, end) infinite;
}

@keyframes tick-tock {
  to {
    transform: translateY(-115px);
  }
}
